Package: automation-interface-sso-container
Version: RELEASE
Architecture: amd64
Depends: podman, buildah, runc
Maintainer: LumIT A-Team, automation@lumit.it
Homepage: https://www.lumit.it
Description: Automation Interface Single Sign On, container image.
